/* #region basic */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #434455;
}
img {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding: 120px 0;
}
a {
  text-decoration: none;
}
/* #endregion basic */
/* #region header */
.page-nav {
  border-bottom: 1px solid #e7e9fc;
}
.nav-cont {
  display: flex;
  height: 72px;
  justify-content: space-between;
}
.menu {
  display: flex;
  align-items: center;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  margin-right: 76px;
}
.relogo {
  color: #4d5ae5;
}
.menu-nav {
  display: flex;
  gap: 40px;
}
.list-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
}
.list-nav:hover,
.list-nav:focus {
  color: #404bbf;
}
.contacts {
  font-style: normal;
  display: flex;
  align-items: center;
}
.menu-contacts {
  display: flex;
  gap: 40px;
}
.list-contact {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.list-contact:hover {
  color: #404bbf;
}

/* #endregion header */
/* #region main */
/* #region hero */
.page-hero {
  max-width: 1440px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);
  background-color: #2e2f42;
  padding: 188px 0;
}
.title-hero {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  padding-bottom: 48px;
  margin: 0 auto;
}
.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  margin: 0 auto;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
/* #endregion hero */
/* #region descr */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  display: flex;
  gap: 24px;
}
.list-descr {
  flex-basis: calc((100% - 72px) / 4);
}
.border-descr {
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
}
.name-descr {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.text-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion descr */
/* #region team */
.team {
  background: #f4f4fd;
}
.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-menu {
  display: flex;
  gap: 24px;
}
.list-team {
  background-color: #fff;
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.text-team {
  padding: 32px 0;
}
.name-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.descr-team {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}
.cont-icons {
  max-width: 232px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 32px;
}
.list-icons {
  display: flex;
  gap: 24px;
}
.item-icon {
  width: 40px;
  height: 40px;
  display: block;
}
/* #endregion team */
/* #region portf */
.title-portf {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.list-descr-portf {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.list-portf {
  background-color: #fff;
  width: calc((100% - 2 * 24px) / 3);
}
.cont-portf {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.name-title-portf {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.descr-portf {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion portf */
/* #endregion main */
/* #region footer */
.end-page {
  background-color: #2e2f42;
  padding: 100px 0;
}
.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  display: inline-block;
  margin-bottom: 16px;
}
.descr-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
/* #endregion footer */
